.policy-container{
    margin: 17vh auto auto auto; 
    width: 60%;
}

.policy-container div{
    margin-bottom: 8%;
}

.policy-headers{
    text-align: center;
    margin-bottom: 4%;
}

.policy-header{
    font-size: 2rem;
}


h2{
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width:480px) {

    .policy-container{
        margin-top: 11vh;
        width:85%;
    }

    .policy-header{
        font-size: 1.2rem;
    }

    .policy-date{
        font-size: .8em;

    }
    
    h2{
        font-size: 1.1rem;
        font-weight: 600;
    }
}