.terms-container{
    margin: 17vh auto auto auto; 
    width: 60%;

}

.terms-container div {
    margin-bottom: 6%;
}

.terms-header{
    text-align: center;
    margin-bottom: 4%;
    font-size:2rem ;
}

h2{
    font-size: 1.2rem;
    font-weight: 600;
}

p{
    color: rgb(219, 217, 217);
}


@media screen and (max-width:1020px){

    .terms-container{
        width: 80%;
    }
}


@media screen and (max-width:480px) {

    .terms-container{
        margin-top: 11vh;
        width:85%;
    }

    .terms-header{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    
    h2{
        font-size: 1.1rem;
        font-weight: 600;
    }

    p{
        font-size: 14px;

    }
}